.switch-material.switch-light {
  &:hover {
    cursor: pointer;
  }
  input {
    &:checked {
      ~ span {
        background: rgba(59, 59, 59, 0.5);
        border-color: rgba(59, 59, 59, 0.6);
        a {
          background: #414141;
          animation: pulse 2s infinite;
        }
      }
    }
    &:not(:checked) {
      ~ span {
        &:hover {
          a {
            background: #aeaeae;
          }
        }
      }
    }
  }
  > span {
    width: 3.55rem;
    border: solid 1px #bfbfbf;
    background: rgba(141, 141, 141, 0.26);
  }
  span {
    span {
      clip: auto;
      z-index: 1;
      top: -1px;
      text-transform: uppercase;
      font-size: .6rem;
      &:first-child {
        right: 2px;
      }
    }
  }
}