@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
	}
}

@keyframes heartRateIn {
	0% {
		width: 100%;
	}
	50% {
		width: 0;
	}
	100% {
		width: 0;
	}
}

@keyframes heartRateOut {
	0% {
		left: -120%;
	}
	30% {
		left: -120%;
	}
	100% {
		left: 0;
	}
}
